.navbar-nav > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.table {
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.td {
  word-break: break-all;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.carousel-image-homepage {
  width: 100vw;
  max-height: 540px;
  object-fit: cover;
  background: black;
}

.table-width-30 {
  width: 33%;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important
}

.card.unclickable-card:hover {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.post-content .more-link::after {
  content: "→";
  display: inline-block;
  margin-left: 0.5em;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  top: 100px;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Modal Header */
.modal-header {
  background-color: #0d6efd;
  color: white;
}

/* Modal Body */
.modal-body {padding: 20px;}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 100px; opacity: 1}
}

.whatsapp-btn {
  color: #25d366;
  border-color: #25d366;
}
.whatsapp-btn:hover {
  color: white;
  background-color: #25d366;
  border-color: #25d366;
}

.telegram-btn {
  color: #0088cc;
  border-color: #0088cc;
}
.telegram-btn:hover {
  color: white;
  background-color: #0088cc;
  border-color: #0088cc;
}

.priority-link {
  z-index: 10;
  position: relative;
}
