.navbar-nav > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.carousel-image-homepage {
  width: 100vw;
  max-height: 540px;
  object-fit: cover;
  background: black;
}

.table-width-30 {
  width: 33%;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important
}
