.navbar-nav > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}