<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <script type="text/javascript" src="https://code.jscharting.com/latest/modules/types.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
	      <img src="{{ url_for('static', filename='logo.png') }}" style="height:30px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if userinfo == None or userinfo.usertype == 0 %}
            <a class="nav-link" href="/events">Find Opportunities!</a>
            {% else %}
            <a class="nav-link" href="/events">View All Events</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blog</a>
          </li>
        </ul>
        {% if not userinfo %}
          <ul class="nav navbar-nav ml-auto mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
	    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
	      <a class="dropdown-item" href="/login">Volunteer Login</a>
              <a class="dropdown-item" href="/org_login">Organiser Login</a>
            </div>
	    </li>
	  </ul>
        {% else %}	
          <ul class="nav navbar-nav ml-auto mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% if userinfo.username %}
                {{userinfo.username}} (Volunteer)
		{% else %}
		{{userinfo.organiserid}} (Organiser)
		{% endif %}
              </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
	      {% if userinfo.username %}
	      <a class="dropdown-item" href="/profile/{{userinfo.username}}">Profile</a>
	      {% else %}
	      <a class="dropdown-item" href="/org_profile/{{userinfo.organiserid}}">Profile</a>
	      {% endif %}
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            </li>
	  </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  </body>
</html>

