{% extends "base.html" %}
{% block title %} Editing Blog Post {{post.blogid}} {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category != "compileError" %}
	<div class="alert alert-{{category}} alert-dismissible fade show mt-4" role="alert">
		{{message | safe}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
</div>

<div class="container-fluid p-4">
	<div class="row p-0">
		<div class="col-6 m-3">
			<div class="row card shadow-sm p-0 unclickable-card mb-3">
				<h4 class="card-header p-3"> Editing Blog Post (id: <a href="/blog/{{post.blogid}}">{{post.blogid}}</a>) </h4>
				<div class="card-body">
					<form id="editform" action="" method="post" class="form-group" enctype="multipart/form-data">
						<label><b>Title (Required):</b></label>
						<div class="input-group mb-3">
							<input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title" value="{{post.title}}">
						</div>

						<label><b>Content (Required):</b></label>
						<div class="input-group mb-3">
							<textarea name="description" class="form-control" placeholder="Blog Content" aria-label="Blog Content">{{post.content}}</textarea>
						</div>

						<label for="tags"><b>Tags:</b></label>
						<div class="container col d-flex flex-column input-group mb-3">
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 1" name="Children and Youth" {% if "Children and Youth" in post.tags %} checked="" {% endif %}>
								<b>Children and Youth</b>
							</div>

							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 2" name="Seniors" {% if "Seniors" in post.tags %} checked="" {% endif %}>
								<b>Seniors</b>
							</div>
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 3" name="Environment" {% if "Environment" in post.tags %} checked {% endif %} >
								<b>Environment</b>
							</div>
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 4" name="Underprivileged" {% if "Underprivileged" in post.tags %} checked {% endif %}>								
								<b>Underprivileged</b>
							</div>
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 5" name="Arts and Heritage" {% if "Arts and Heritage" in post.tags %} checked {% endif %}>
								<b>Arts and Heritage</b>
							</div>
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 6" name="Personal" {% if "Personal" in post.tags %} checked {% endif %}>
								<b>Personal</b>
							</div>
							<div>
								<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Tag 7" name="Promotional" {%if "Promotional" in post.tags %} checked {% endif %}>
								<b>Promotional</b>
							</div>
						</div>

						<label><b>Cover Image URL:</b></label>
						<div class="input-group mb-3">
							<input type="text" name="url" class="form-control" placeholder="Image URL" aria-label="Image URL" value="{{post.url}}">
						</div>

						<div class="mb-3">
							<button type="submit" class="btn btn-secondary">Update</button>
							<button type="submit" name="publish" class="btn btn-primary">Update and {% if not post.published %}Publish Blog{% else %}Unpublish Blog{% endif %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col">
			<img src="{{post.url}}" style="max-width:100%">
		</div>
	</div>
</div>

{% endblock %}
