{% extends "base.html" %}
{% block title %} Organiser Login {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}
{% block content %}

<div class="container-fluid p-0 row">

    <div class="col-7">
        <img src="https://www.asiaone.com/sites/default/files/original_images/Nov2020/20201120_volunteer_fb.jpg" style="max-height: 100vh; width: 100vw; object-fit:cover;">
    </div>
    <div class="container col d-flex flex-column justify-content-center">
        <div class="bg-light p-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
		<div class="alert alert-{{category}} alert-dismissible fade show mt-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <br>
            {% endif %}
            {% endwith %}
            <h1>Enter Login Details (Organiser)</h1>
            <hr>
            <form id="userloginform" action="" method="post" class="form-group">
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username">
                </div>

                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
		<a class="btn btn-link" href="/org_register" role="button">New User? Sign up here!</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}

