{% extends "base.html" %}
{% block title %} Event - {{eventinfo.title}} {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category != "compileError" %}
	<div class="alert alert-{{category}} alert-dismissible fade show mt-4" role="alert">
		{{message | safe}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
</div>

<div class="container-fluid p-4">
	<div class="row p-0">
		<div class="col-6 m-3">
			<div class="row card shadow-sm p-0 unclickable-card mb-3">
				<h4 class="card-header p-3"> {{eventinfo.title}} </h4>
				<div class="card-body"><table class="table table-borderless table-sm">
					<tbody>
						<tr>
							<th scope="row"> Description </th>
							<td> {{eventinfo.description}} </td>
						</tr>
						<tr>
							<th scope="row"> Date </th>
							<td> {{eventinfo.date}} </td>
						</tr>
						<tr>                                    
							<th scope="row"> Duration </th>
							<td> {{eventinfo.hours}} hours </td>
						</tr>
						<tr>
							<th scope="row"> Location </th>
							<td> {{eventinfo.location}} </td>
						</tr>
						<tr>
							<th scope="row"> Organiser </th>
							<td> <a href="/org_profile/{{eventinfo.organiser}}"> {{organiserinfo.name}} </a> </td>
						</tr>
						<tr>
							<th scope="row"> Type </th>
							<td> {{eventinfo.type}} </td>
						</tr>
						<tr>
							<th scope="row"> Number of Occurrences </th>
							<td> {{eventinfo.num_occurrences}} </td>
						</tr>
					</tbody></table>
					<form id="registerform" action="" method="post" class="form-group">
						{% if userinfo != None and userinfo.usertype == 0 %}
						{% if userinfo['username'] not in eventinfo['participants'] %}
						<button type="submit" class="btn btn-primary">Register!</button>
						{% else %}
						<button type="submit" class="btn btn-primary">Remove Registration :(</button>
						{% endif %}
						{% endif %}
					</form>
				</div>
			</div>
			<div class="row card shadow-sm p-0 unclickable-card">
				<h4 class="card-header p-3"> Participants </h4>

				<div class="card-body">
					<ul>
						{% for user in participants %}
						<li>
							{{user.name}} (<a href="/profile/{{user.username}}">{{user.username}}</a>)
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<img src="{{eventinfo.url}}">
		</div>
	</div>

	<div class="row overflow-auto p-4 d-flex flex-row justify-content-center">
		<hr>
		<h4 style="text-align:center;">Other events by organiser</h4>

		{% for event in others %}
		<div class="card shadow-sm p-0 m-3" style="width:25vw;">
			<h4 class="card-header p-2"> {{event.title}} </h4>
			<div class="card-body">
				<table class="table table-borderless table-sm">
				<tbody>
				<tr>
					<th scope="row" class="table-width-30"> Date </th>
					<td> {{event.date}} </td>
				</tr>
				<tr>                                    
					<th scope="row" class="table-width-30"> Type </th>
					<td> {{event.type}} </td>
				</tr>
				<tr>                                    
					<th scope="row" class="table-width-30"> Location </th>
					<td> {{event.location}} </td>
				</tr>
				{% if userinfo != None %}
				<tr>
					<th scope="row" class="table-width-30"> # of Your Friends </th>
					<td> {{event.numfriends}} </td>
				</tr>
				{% endif %}
				</tbody>
				</table>
				<a href="/edit_event/{{event.eventid}}" class="stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


