{% extends "base.html" %}
{% block title %} Home {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
	{% if category != "compileError" %}
	<div class="alert alert-{{category}} alert-dismissible fade show mt-4" role="alert">
		{{message | safe}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
</div>

<div class="container-fluid p-0 col">
	<div class="row p-0">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item carousel-image-homepage active">
					<img src="https://media.discordapp.net/attachments/903191753086078997/994539290379948113/crop2.jpg" class="d-block w-100" alt="..." style="opacity:50%">
				<div class="carousel-caption d-none d-md-block">
						<h3>Welcome to EN-Volunteers!</h3>
						<p>Our Enthusiastic Network of Volunteers showcases volunteering opportunities and experiences on this all-in-one platform.</p>
					{% if userinfo == None %}
					<a role="button" class="btn btn-primary" href="/login">Sign in as Volunteer!</a>
					<a role="button" class="btn btn-success" href="/org_login">Sign in as Organiser!</a>
					{% endif %}
				</div>
				</div>
				<div class="carousel-item carousel-image-homepage">
					<img src="https://media.discordapp.net/attachments/903191753086078997/994539290715496559/crop3.jpg" class="d-block w-100" alt="..." style="opacity:50%">
					<div class="carousel-caption d-none d-md-block">
						<h3>Volunteers, join events with one click.</h3>
						<p>No hassle required to source and sign up for new volunteering events. Spend more time on the things that truly matter, instead of arduous searching and sign-up processes.</p>
					</div>
				</div>
				<div class="carousel-item carousel-image-homepage">
					<img src="https://media.discordapp.net/attachments/903191753086078997/994539289935355914/crop1.jpg" class="d-block w-100" alt="..." style="opacity:50%">
					<div class="carousel-caption d-none d-md-block">
						<h3>Organisers, know your audience.</h3>
						<p>As an organiser, learn more about your volunteers and better engage people to join your events.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	{% if userinfo != None  and userinfo['usertype'] == 0%}
	<div class="row overflow-auto p-4">
		<div class="col-6 p-2">
			<h2>Volunteering Interests</h2>
			<div>
				<canvas id="radar-chart" style="width:100%; height:auto;"> </canvas>
				<script>
					const data = {
						labels: {{tags | safe}},
						datasets: [{
							label: '{{userinfo.username}}\'s Interests',
							data: {{data}},
							fill: true,
							backgroundColor: 'rgba(255, 99, 132, 0.2)',
							borderColor: 'rgb(255, 99, 132)',
							pointBackgroundColor: 'rgb(255, 99, 132)',
							pointBorderColor: '#fff',
							pointHoverBackgroundColor: '#fff',
							pointHoverBorderColor: 'rgb(255, 99, 132)'
						}]
					};
					const config = {
						type: 'radar',
						data: data,
						options: {
							elements: {
								line: {
									borderWidth: 3
								}
							}
						},
					};
					
					window.onload = function() {
						var radarChart = new Chart(document.getElementById("radar-chart"), config);
					}
				</script>
			</div>
		</div>

		<div class="col overflow-auto p-2 d-flex flex-column justify-content-center">
			<h3>Want to view more information about your volunteering experience?</h3>
			<a role="button" class="btn btn-primary btn-lg" href="/profile/{{userinfo.username}}">Go To My Profile</a>
		</div>
		<hr>
	</div>
	<div class="row overflow-auto p-4 d-flex flex-row justify-content-center">
		<h2 style="text-align:center;">Top 5 Recommended Events for {{userinfo.username}}</h2>
		{% for event in topfive %}

		<div class="card shadow-sm p-0 m-3" style="width:25vw;">
			<h4 class="card-header p-2"> {{event.title}} </h4>
			<img src="{{event.url}}">
			<div class="card-body">
				<table class="table table-borderless table-sm">
				<tbody>
				<tr>
					<th scope="row" class="table-width-30"> Date </th>
					<td> {{event.date}} </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> Organiser </th>
					<td> <a class="priority-link" href="/org_profile/{{event.organiserid}}">{{event.organiser}}</a> </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> Type </th>
					<td> {{event.type}} </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> Location </th>
					<td> {{event.location}} </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> Recurring? </th>
					<td> {% if event.num_occurrences|int > 1 %} Yes {% else %} No {% endif %} </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> # of Your Friends </th>
					<td> {{event.numfriends}} </td>
				</tr>
				</tbody>
				</table>
				<a href="/event/{{event.eventid}}" class="stretched-link"></a>
			</div>
		</div>

		{% endfor %}
		<hr>
	</div>
	{% endif %}
	<div class="row overflow-auto p-4 d-flex flex-row justify-content-center">
		<form id="filtereventsform" action="" method="post" class="form-group" style="width:60%">	
			<h2 style="text-align:center">View/Filter Events!</h2>	
			<label for="date"><b>Date Range:</b></label>
			<div class="input-group mb-3">
			<input class="form-control" id="lowDate" name="lowDate" placeholder="Start of Date Range (DD/MM/YYYY)" type="text" value={{request.form['lowDate']}}>

			<input class="form-control" id="highDate" name="highDate" placeholder="End of Date Range (DD/MM/YYYY)" type="text" value={{request.form['highDate']}}>
			</div>
			
			<label for="type"><b>Type:</b></label>
			<div class="input-group mb-3">
			<select class="form-select" id="etype" name="etype" placeholder="Type" type="select">
				<option value="All" {%if request.form['etype'] == "All"%} selected {%endif%}>All</option>
				<option value="Children and Youth" {%if request.form['etype'] == "Children and Youth"%} selected {%endif%}>Children and Youth</option>
				<option value="Seniors" {%if request.form['etype'] == "Seniors"%} selected {%endif%}>Seniors</option>
				<option value="Environment" {%if request.form['etype'] == "Environment"%} selected {%endif%}>Environment</option>
				<option value="Underprivileged" {%if request.form['etype'] == "Underprivileged"%} selected {%endif%}>Underprivileged</option>
				<option value="Arts and Heritage" {%if request.form['etype'] == "Arts and Heritage"%} selected {%endif%}>Arts and Heritage</option>
			</select>
			</div>

			{% if userinfo != None and userinfo['usertype'] == 0 %}
			<div class="input-group mb-3">
			<input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for Sorting by Friends" name="friends" {%if 'friends' in request.form%} checked {%endif%}>
			<label for="checkbox" class="ms-2"><b>Sort by number of friends taking part</b></label>
			</div>
			{% endif %}

			<button type="submit" class="btn btn-primary">Filter</button>
		</form>

	</div>
	<div class="row overflow-auto p-4 d-flex flex-row justify-content-center">
		{% for event in eventlist %}
		<div class="card shadow-sm p-0 m-3" style="width:25vw;">
			<h4 class="card-header p-2"> {{event.title}} </h4>
			<img src="{{event.url}}">
			<div class="card-body">
				<table class="table table-borderless table-sm">
				<tbody>
				<tr>
					<th scope="row" class="table-width-30"> Date </th>
					<td> {{event.date}} </td>
				</tr>
				<tr>
					<th scope="row" class="table-width-30"> Organiser </th>
					<td> <a class="priority-link" href="/org_profile/{{event.organiserid}}">{{event.organiser}}</a> </td>
				</tr>
				<tr>                                    
					<th scope="row" class="table-width-30"> Type </th>
					<td> {{event.type}} </td>
				</tr>
				<tr>                                    
					<th scope="row" class="table-width-30"> Location </th>
					<td> {{event.location}} </td>
				</tr>
				<tr>                                    
					<th scope="row" class="table-width-30"> Recurring? </th>
					<td> {% if event.num_occurrences|int > 1 %} Yes {% else %} No {% endif %} </td>
				</tr>
				{% if userinfo != None and userinfo['usertype'] == 0 %}
				<tr>
					<th scope="row" class="table-width-30"> # of Your Friends </th>
					<td> {{event.numfriends}} </td>
				</tr>
				{% endif %}
				</tbody>
				</table>
				<a href="/event/{{event.eventid}}" class="stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>
	<script> const collection = document.getElementsByClassName("shadow-sm"); </script>
</div>

{% endblock %}




