{% extends "base.html" %}
{% block title %} Profile - {{profileinfo.username}} {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="container-fluid row p-4">
	<div class="col-4 p-4">
		<div class="row mb-3">
			<div class="card shadow-sm p-0">
				<h4 class="card-header p-3"> {{profileinfo.username}}'s profile </h4>

				<div class="card-body"><table class="table table-borderless table-sm">
					<tbody>
					<tr>
						<th scope="row"> Name </th>
						<td> {{profileinfo.name}} </td>
					</tr><tr>
						<th scope="row"> Username </th>
						<td> {{profileinfo.username}} </td>
					</tr>
					</tbody></table>
					{% if profileinfo.username == userinfo.username %}
					<tr>                                    
						<th scope="row"> Phone Number (Private) </th>
						<td> {{profileinfo.phone}} </td></tr><tr>
						<th scope="row"> Date of Birth (Private) </th>
						<td> {{profileinfo.birthdate}} </td></tr><tr>
						<th scope="row"> Residential Location (Private) </th>
						<td> {{profileinfo.location}} </td></tr>
					{% else %}
					<form id="friendform" action="" method="post" class="form-group">
						{% if profileinfo['username'] not in userinfo['friends'] %}
						<button type="submit" class="btn btn-primary">Add Friend</button>
						{% else %}
						<button type="submit" class="btn btn-primary">Remove Friend :(</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row">
			<h4>Friends</h4>
			{% for friend in friends %}
			<div class="card shadow-sm p-0 mb-3">
				<h5 class="card-header p-3"> {{friend.username}} </h5>
				<div class="card-body">
					<table class="table table-borderless table-sm">
					<tbody>
					<tr>
						<th scope="row"> Name </th>
						<td> {{friend.name}} </td>
					</tr>
					</tbody>
					</table>
					<a href="/profile/{{friend.username}}" class="stretched-link"></a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="col p-4">
		{% if eventlist | length != 0 %}
		<div class="row mb-3">
			<div class="col-5">
				<h4>Volunteering Interests</h4>
				<div>
					<canvas id="radar-chart" style="width:100%; height:auto;"> </canvas>
					<script>
						const data = {
							labels: {{tags | safe}},
							datasets: [{
								label: '{{profileinfo.username}}\'s Interests',
								data: {{data}},
								fill: true,
								backgroundColor: 'rgba(255, 99, 132, 0.2)',
								borderColor: 'rgb(255, 99, 132)',
								pointBackgroundColor: 'rgb(255, 99, 132)',
								pointBorderColor: '#fff',
								pointHoverBackgroundColor: '#fff',
								pointHoverBorderColor: 'rgb(255, 99, 132)'
							}]
						};
						const config = {
							type: 'radar',
							data: data,
							options: {
								elements: {
									line: {
										borderWidth: 3
									}
								}
							},
						};
						
						window.onload = function() {
							var radarChart = new Chart(document.getElementById("radar-chart"), config);
						}
					</script>
				</div>
			</div>

			<div class="col">
				<h4>Volunteer Hours</h4>
				<div id="calendarChart" style="width:100%;height:auto;"></div>
				<script type="text/javascript">
					var chart = JSC.chart('calendarChart', { 
						debug: true, 
						type: 'calendar year solid', 
						data: '/resources/{{profileinfo.username}}.csv',
						title_label_text: 'Hours of Volunteering Per Day', 
						defaultSeries_legendEntry_value: 'Total: %zSum', 
						defaultPoint: { 
							tooltip: 
							'<b></b><br> %zValue hours'
						}, 
						palette: {
							stops: [[0, 'white'], [16, '#0054e5'], [24, '#0054e5']]
						},
						toolbar_visible: false
					})
				</script>
			</div>
		</div>
		<div class="row">
			<h4>Volunteering History</h4>
			{% for event in eventlist %}
			<div class="card shadow-sm p-0 m-3" style="width:25vw;">
				<h4 class="card-header p-2"> {{event.title}} </h4>
				<img src="{{event.url}}">
				<div class="card-body">
					<table class="table table-borderless table-sm">
					<tbody>
					<tr>
						<th scope="row"> Date </th>
						<td> {{event.date}} </td>
					</tr>
					<tr>
						<th scope="row"> Organiser </th>
						<td> {{event.organiser}} </td>
					</tr>
					<tr>                                    
						<th scope="row"> Type </th>
						<td> {{event.type}} </td>
					</tr>
					<tr>                                    
						<th scope="row"> Location </th>
						<td> {{event.location}} </td>
					</tr>
					</tbody>
					</table>
					<a href="/event/{{event.eventid}}" class="stretched-link"></a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h4>This user has not volunteered for any events :(</h4>
		{% endif %}
	</div>
</div>
{% endblock %}

